$tablet: 850px;
$smartphone: 500px;
$primaryColor: #230655;
$redColor: #ff0000;
$blackColor: #141011;
$secondaryColor: #ffffff;
$sub-color: grey;
$main-color: black;
$shadow: 0px 0px 5px 0px $primaryColor;
$sidePanelGradient: linear-gradient(#2e2579, #6c59ae);

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}
.side-panel {
  width: 300px !important;
  background-image: $sidePanelGradient;
  color: $secondaryColor;
  padding: 0 !important;
  .logo {
    // margin: 2.5em 1em;
    text-align: center;
    img {
      height: 8em;
    }
  }
  input {
    // display: none !important;
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 14px;
    line-height: 20px;
    padding: 0.7em;
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    // border-radius: 2em;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }
  .direct-message,
  .group {
    min-height: 15em;
    margin: 2em 0;
    .menu {
      .listing-header {
        // width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        h2 {
          font-size: 1.5em;
        }
        img {
          cursor: pointer;
        }
      }
    }
    .group-name {
      padding: 0.6em 1em 0.6em 2em;
      // padding-left: 2em;
      display: flex;
      // flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      h4 {
        font-size: 1.5em;
        color: $sub-color;
      }
      .notification {
        height: 2em;
        width: 2em;
        background-color: red;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
    .active {
      background-color: #d4d4d4;
      h4 {
        color: $primaryColor !important;
      }
    }
  }
  .direct-message {
  }
  .group {
    position: relative;
    input {
      margin: 1em auto;
    }
    .add-group {
      position: absolute;
      background-color: $primaryColor;
      padding: 1em 0;
      top: 3.5em;
      left: 0;
      right: 0;

      .add-group-buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      button {
        border: 0;
        height: 2em;
        width: 2em;
        border-radius: 0.5em;
        cursor: pointer;
        img {
          height: 2em;
          width: 2em;
        }
      }
    }
  }
}
